<a href="https://colab.research.google.com/github/MujtabaNayaz/Calculator-using-php/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
akash =  [23, 32, 78, 12]
aparna = [21, 34, 54, 21]
bhoomika = [23,65,78,12]

totalSales = []

for i in range(len(akash)) :
  totalSales.append( akash[i] + aparna[i] + bhoomika[i])
print(totalSales)

[67, 131, 210, 45]

In [ ]:
akash =  [23, 32, 78, 12]
aparna = [21, 34, 54, 21]
bhoomika = [23,65,78,12]

for ele in zip(akash, aparna, bhoomika) :
  print(ele , sum(ele))

(23, 21, 23) 67
(32, 34, 65) 131
(78, 54, 78) 210
(12, 21, 12) 45

In [ ]:
harish = [34, 43, 23, 25, 20, 25]

flag = True 
for ele in harish:
  if ele < 20:
    flag = False

if flag == True:
  print("Passed in all the subjects")
else:
  print("Failed in one or more subjects")

Passed in all the subjects

In [ ]:
harish = [34, 43, 23, 5, 20, 25]

for ele in harish:
  if ele < 20:
    print("Failed in one or more subjects")
    break
else:
  print("Passed in all the subjects")

Failed in one or more subjects

In [ ]:
a = 25
b = 10
#large = True-statement if condition is satisfied else False-statement
large = a if a > b else b 
print(large)

25

In [ ]:
a = [1 , 2 ,3 ,4, 5] 
b = []
for ele in a:
  b.append(  ele * ele )
print(b)

[1, 4, 9, 16, 25]

In [ ]:
a = [1 , 2 ,3 ,4, 5 , 6, 7, 8] 
b = [ele * ele for ele in a]
print(b)

In [ ]:
harish = [34, 3, 23, 5, 20, 25]

result = []
for ele in harish:
  if ele >= 20:
    result.append(ele)
print(result)

[34, 23, 20, 25]

In [ ]:
harish = [34, 73, 23, 5, 20, 5]

result = [ele for ele in harish if ele >= 20]

print(result)

[34, 73, 23, 20]

In [ ]:
harish = [34, 3, 23, 5, 20, 25]

result = []
for ele in harish:
  if ele >= 20:
    result.append(ele)
  else:
    result.append(ele * 2)
print(result)

[34, 6, 23, 10, 20, 25]

In [ ]:
harish = [34, 3, 23, 5, 20, 25]

result = [ele if ele>= 20 else ele * 2 for ele in harish]

print(result)

[34, 6, 23, 10, 20, 25]

In [ ]:
# https://leetcode.com/problems/create-target-array-in-the-given-order/
#Input: nums = [0,1,2,3,4], index = [0,1,2,2,1]
#Output: [0,4,1,3,2]
nums = [0,1,2,3,4]
index = [0,1,2,2,1]
output = []
n = len(nums)

for i in range(n):
  ele = nums[i]
  inx = index[i]
  output.insert(inx , ele )
  print(output)

[0]
[0, 1]
[0, 1, 2]
[0, 1, 3, 2]
[0, 4, 1, 3, 2]

In [ ]:
print( max(5, 10) )
print( max(5, 10 , 8) )
print( max(5, 10, 34, 21) )

10
10
34

In [4]:
arr = [12, 23, 78 , 43 , 12, 65, 67, 32]   # 8
key = 23


#key in arr
found = False
for  ele in arr:
  print("Hello")
  if ele == key:
    found = True
    break

if found == True:
  print("Found")
else:
  print("Not Found")

Hello
Hello
Found